<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.school.student.dao.AdvertisingImgMapper">
  <resultMap id="BaseResultMap" type="com.lgren.school.student.pojo.AdvertisingImg">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="AD_IMG_NAME" jdbcType="VARCHAR" property="adImgName" />
    <result column="AD_IMG_URI" jdbcType="VARCHAR" property="adImgUri" />
    <result column="AD_URL" jdbcType="VARCHAR" property="adUrl" />
    <result column="INSERT_WORKER_ID" jdbcType="VARCHAR" property="insertWorkerId" />
    <result column="INSERT_TIME" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, AD_IMG_NAME, AD_IMG_URI, AD_URL, INSERT_WORKER_ID, INSERT_TIME, UPDATE_TIME, 
    STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from KY_ADVERTISING_IMG
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from KY_ADVERTISING_IMG
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lgren.school.student.pojo.AdvertisingImg">
    insert into KY_ADVERTISING_IMG (ID, AD_IMG_NAME, AD_IMG_URI, 
      AD_URL, INSERT_WORKER_ID, INSERT_TIME, 
      UPDATE_TIME, STATUS)
    values (#{id,jdbcType=INTEGER}, #{adImgName,jdbcType=VARCHAR}, #{adImgUri,jdbcType=VARCHAR}, 
      #{adUrl,jdbcType=VARCHAR}, #{insertWorkerId,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lgren.school.student.pojo.AdvertisingImg">
    insert into KY_ADVERTISING_IMG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="adImgName != null">
        AD_IMG_NAME,
      </if>
      <if test="adImgUri != null">
        AD_IMG_URI,
      </if>
      <if test="adUrl != null">
        AD_URL,
      </if>
      <if test="insertWorkerId != null">
        INSERT_WORKER_ID,
      </if>
      <if test="insertTime != null">
        INSERT_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adImgName != null">
        #{adImgName,jdbcType=VARCHAR},
      </if>
      <if test="adImgUri != null">
        #{adImgUri,jdbcType=VARCHAR},
      </if>
      <if test="adUrl != null">
        #{adUrl,jdbcType=VARCHAR},
      </if>
      <if test="insertWorkerId != null">
        #{insertWorkerId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lgren.school.student.pojo.AdvertisingImg">
    update KY_ADVERTISING_IMG
    <set>
      <if test="adImgName != null">
        AD_IMG_NAME = #{adImgName,jdbcType=VARCHAR},
      </if>
      <if test="adImgUri != null">
        AD_IMG_URI = #{adImgUri,jdbcType=VARCHAR},
      </if>
      <if test="adUrl != null">
        AD_URL = #{adUrl,jdbcType=VARCHAR},
      </if>
      <if test="insertWorkerId != null">
        INSERT_WORKER_ID = #{insertWorkerId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lgren.school.student.pojo.AdvertisingImg">
    update KY_ADVERTISING_IMG
    set AD_IMG_NAME = #{adImgName,jdbcType=VARCHAR},
      AD_IMG_URI = #{adImgUri,jdbcType=VARCHAR},
      AD_URL = #{adUrl,jdbcType=VARCHAR},
      INSERT_WORKER_ID = #{insertWorkerId,jdbcType=VARCHAR},
      INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.lgren.school.student.pojo.AdvertisingImg">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="AD_IMG_NAME" jdbcType="VARCHAR" property="adImgName" />
    <result column="AD_IMG_URI" jdbcType="VARCHAR" property="adImgUri" />
    <result column="INSERT_TIME" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="INSERT_WORKER_ID" jdbcType="VARCHAR" property="insertWorkerId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, AD_IMG_NAME, AD_IMG_URI, INSERT_TIME, UPDATE_TIME, INSERT_WORKER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from KY_ADVERTISING_IMG
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from KY_ADVERTISING_IMG
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lgren.school.student.pojo.AdvertisingImg">
    insert into KY_ADVERTISING_IMG (ID, AD_IMG_NAME, AD_IMG_URI, 
      INSERT_TIME, UPDATE_TIME, INSERT_WORKER_ID
      )
    values (#{id,jdbcType=INTEGER}, #{adImgName,jdbcType=VARCHAR}, #{adImgUri,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{insertWorkerId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lgren.school.student.pojo.AdvertisingImg">
    insert into KY_ADVERTISING_IMG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="adImgName != null">
        AD_IMG_NAME,
      </if>
      <if test="adImgUri != null">
        AD_IMG_URI,
      </if>
      <if test="insertTime != null">
        INSERT_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="insertWorkerId != null">
        INSERT_WORKER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adImgName != null">
        #{adImgName,jdbcType=VARCHAR},
      </if>
      <if test="adImgUri != null">
        #{adImgUri,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertWorkerId != null">
        #{insertWorkerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lgren.school.student.pojo.AdvertisingImg">
    update KY_ADVERTISING_IMG
    <set>
      <if test="adImgName != null">
        AD_IMG_NAME = #{adImgName,jdbcType=VARCHAR},
      </if>
      <if test="adImgUri != null">
        AD_IMG_URI = #{adImgUri,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertWorkerId != null">
        INSERT_WORKER_ID = #{insertWorkerId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lgren.school.student.pojo.AdvertisingImg">
    update KY_ADVERTISING_IMG
    set AD_IMG_NAME = #{adImgName,jdbcType=VARCHAR},
      AD_IMG_URI = #{adImgUri,jdbcType=VARCHAR},
      INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      INSERT_WORKER_ID = #{insertWorkerId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>